@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f4f7fc;
    min-height: 100vh;
    color: #271d1d;
}

/* MAIN LAYOUT */
.main-container{
    min-height: 100vh;
}
.hero{
    margin: 0 0 25px 15px;
}
.user-content{
    flex: 1;
    padding: 30px;
    background: #f4f7fc;
}

.user-content h1{
    margin-left: 15px;
    margin-bottom: 20px;
}

/* MAIN CARD */
.user-section{
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

/* HEADER */
.user-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-title{
    font-size: 22px;
    font-weight: 600;
    color: #0f172a;
}


/* TABLE */
.user-table{
    width: 100%;
    border-collapse: collapse;
}

.user-table thead{
    background: #f1f5f9;
}

.user-table th{
    text-align: left;
    padding: 16px;
    font-size: 14px;
    font-weight: 600;
    color: #334155;
}

.user-table td{
    padding: 16px;
    border-bottom: 1px solid #e2e8f0;
    font-size: 14px;
    color: #334155;
}

/* STATUS */
.user-status{
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

.user-pending{
    background: #fef3c7;
    color: #d97706;
}

/* ACTIONS */
.user-actions{
    display: flex;
    gap: 12px;
    font-size: 16px;
}

/* APPROVE */
.user-tick{
    color: #22c55e;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

.user-tick:hover{
    transform: scale(1.2);
}

/* REJECT */
.user-cross{
    color: #ef4444;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

.user-cross:hover{
    transform: scale(1.2);
}

/* RESPONSIVE */
@media(max-width: 900px){

    .user-content{
        padding: 20px;
    }

    .user-table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .user-header{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}
