@charset "UTF-8";

        *{
            box-sizing: border-box;
        }
        body{
            margin: 0;
            padding: 0;
            scrollbar-width: none;
        }
      
        
        .right-container{
            background-color: rgb(250, 249, 253);
            width: 100%;
        }
        .right-container .top{
            display: flex;
            padding: 30px;
            padding-bottom: 0;
            gap: 20px;
            height: 20%;
        }
        .totalCollection{
            width: 60%;
            background-color: white;
            border-radius: 30px;
            display: flex;
            box-shadow: 0px 0px 1px 0.2px rgb(211, 211, 211);

        }
        .totalCollection p{
            margin: auto;
            font-size: 1.5rem;
        }
        .dateTime{
            width: 40%;
            background-color: white;
            border-radius: 30px;
            display: flex;
            box-shadow: 0px 0px 1px 0.2px rgb(211, 211, 211);
        }
        .dateTime p{
            margin: 0;
        }
        .dateTimeContents{
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
        }
        .dateTimeContents .time{
            font-size: 1.8rem;
        }
        .dateTimeContents .date{
            font-size: 0.9rem;
        }
        .dateTimeContents .day{
            font-size: 0.8rem;
        }
        
        .right-container .mid{
            display: flex;
            height: 30%;
            padding-inline: 30px; 
            padding-top: 10px;           
        }
        .mid .retailersList{
            background-color: white;
            border-radius: 30px;
            padding: 20px;
            width: 100%;
        }
        .retailersList table{
            width: 100%;
            height: 100%;
            padding-bottom: 20px;
        }

        .retailersList caption{
            text-align: left;
            font-size: 1.1rem;
            color: rgb(48, 74, 104); 
            margin-bottom: 10px;
            font-family: sans-serif;
        }
        
        .retailersList thead{
            text-align: left;
            color: rgb(101, 101, 101);
            font-size: 0.9rem;
            font-family: sans-serif;
            
        }
        
        .retailersList td{
            font-family: sans-serif;
            color: rgb(63, 87, 115);
            font-size: 0.8rem;
        }

        .retailersList td button{
            border-radius: 30px;
            border: none;
            width: 70%;
            padding-block: 8px;
            color: rgb(115, 115, 115);    
        }

        .visited{
            background-color: rgb(220, 252, 231);
            color: rgb(56, 99, 72);
        }
        .right-container .bottom{
            width: 100%;
            height: 45%;
            display: flex;
            padding: 30px;
            gap: 20px;
            padding-top: 20px;
        }
        .bottom .todaysVisit{
            width: 60%;
            background-color: rgb(0, 32, 69);
            border-radius: 30px;
            display: flex;
        }
        .todaysVisit p{
            margin: auto;
            color: white;
            font-family: sans-serif;
            font-size: 1.8rem;
        }

        .bottom .pendingTaskContainer{
            width: 30%;
            background-color: white;
            padding: 5px;
            padding-inline: 20px;
            border-radius: 30px;
        }
        .pendingTasks{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .pendingTask{
            height: 50px;
            background-color: rgb(244, 243, 247);
            border-radius: 30px;
        }